aider-chat
backoff
openai
matplotlib
pypdf
pymupdf4llm
torch
numpy
transformers
datasets
tiktoken
wandb
tqdm
hydra-core
omegaconf
janome
wordcloud
requests
beautifulsoup4
faiss-gpu
fugashi
ipadic
openai
langchain
langchain-community
langchain-openai
openai
rank-bm25
unidic_lite
whoosh
lightrag-hku
aioboto3
ollama
tiktoken
nano_vectordb